/* https://coolors.co/05386b-379683-5cdb95-8ee4af-054a29 */

* {
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

h1 {
    padding: 35px;
    text-align: center;
}

h2 {
    padding-bottom: 25px;
}

.navbar-text {
    padding-right: 25px;
}

input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='submit'] {
    width: 100%;
     background-color: #379683;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type='submit']:hover {
    background-color: #BCF0D4;
    color: black;
}

