{% extends 'layout.html' %} {% block content %}
<main id="main">
    <div class="container">
        <h2>Top 3 Movies This Month</h2>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="/static/images/home/1-rogueone.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Rogue One</b></h5>
                    <p class="card-text">2016 ‧ Action/Sci-fi ‧ 133m</p>
                    <p class="card-text">The Rebel Alliance makes a risky move to steal the plans for the Death Star, setting up the epic saga to follow.</p>
                    <p class="card-text"><b>Rating:</b> 7.9</p>
                    <p class="card-text"><b>Director:</b> Gareth Edwards</p>
                    <p class="card-text"><b>Starring:</b> Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/static/images/home/2-fantastic_beasts.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Fantastic Beasts and Where to Find Them</b></h5>
                    <p class="card-text">2016 ‧ Adventure/Fantasy ‧ 133m</p>
                    <p class="card-text">The adventures of writer Newt Scamander in New York's secret community of witches and wizards seventy years before Harry Potter reads his book in school.</p>
                    <p class="card-text"><b>Rating:</b> 7.5</p>
                    <p class="card-text"><b>Director:</b> David Yates</p>
                    <p class="card-text"><b>Starring:</b> Eddie Redmayne, Katherine Waterston, Alison Sudol, Dan Fogler</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/static/images/home/3-jason_bourne.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Jason Bourne</b></h5>
                    <p class="card-text">2016 ‧ Action/Thriller ‧ 123m</p>
                    <p class="card-text">The CIA's most dangerous former operative is drawn out of hiding to uncover more explosive truths about his past.</p>
                    <p class="card-text"><b>Rating:</b> 6.7</p>
                    <p class="card-text"><b>Director:</b> Paul Greengrass</p>
                    <p class="card-text"><b>Starring:</b> Matt Damon, Tommy Lee Jones, Alicia Vikander, Vincent Cassel</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}